version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 15
  - package-ecosystem: gradle
    directory: "dusseldorf-ktor-testapp/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    groups:
      gradle-test-app:
        patterns:
          - "*"
        exclude-patterns:
          - "no.nav*"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    groups:
      github:
        patterns:
          - "*"
